.articles {
  padding-bottom: 60px;
  background-color: var(--color-body-bg);
}

.articles_wrapper {
  display: grid;
  grid-template-columns: 1fr 263px;
  gap: 30px;
}

.articles_wrap {
  border-radius: 10px;
  background-color: var(--color-light);
}

.articles_card {
  padding: 25px 25px 0 25px;
}

.articles_card_border {
  padding-bottom: 25px;
  border-bottom: 1px solid #d9dadb;
}

.articles_card_no-border {
  border-bottom: none;
}

.articles_card_image img {
  vertical-align: bottom;
}

.articles_card_body {
  max-width: 460px;
  padding-left: 25px;
  flex-grow: 1;
  flex-direction: column;
  height: 195px;
  justify-content: space-between;
}

.articles_card_body_subtitle {
  width: 100%;
  justify-content: space-between;
  padding-bottom: 15px;
}

.art_card_body_subtitle {
  font-family: Lato;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-header-subtitle);
  text-transform: uppercase;
}

.articles_card_body_title {
  font-family: Roboto Slab;
  font-size: 20px;
  line-height: 25px;
  color: var(--color-dark-gray);
  padding-bottom: 10px;
  font-weight: 400;
}

.articles_card_body_text {
  max-width: 426px;
  color: var(--color-header-subtitle);
}

.articles_card_body_reaction {
  align-self: flex-start;
  color: #939699;
}

.articles_card_body_data {
  padding-right: 10px;
}

.articles_card_body_comment_num {
  padding-inline: 5px 10px;
}
/* Aside part start */

.articles_aside {
  border-radius: 10px;
  background-color: var(--color-light);
  flex-direction: column;
  width: 262px;
  height: fit-content;
}

.articles_aside_title {
  color: var(--color-dark-gray);
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px 25px;
  width: 100%;
  border-bottom: 1px solid #d9dadb;
}

.articles_aside_card_wrap {
  padding-inline: 20px;
  padding-block: 17px 0;
}

.article_aside_card {
  padding-bottom: 17px;
  border-bottom: 1px solid #d9dadb;
}

.article_aside_card_no-border {
  border-bottom: none;
}

.article_aside_card_description {
  max-width: 152px;
  padding-left: 10px;
}

.article_aside_card_title {
  position: relative;
  line-height: 20px;
  color: var(--color-header-subtitle);
  font-weight: 400;
}

.article_aside_card_time {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.article_aside_card_description {
  flex-direction: row;
  align-content: space-between;
  height: 60px;
}

.aside_number_one::after {
  content: "1";
  position: absolute;
  top: 5px;
  right: 10px;
  height: 100%;
  aspect-ratio: 1;
  font-family: Lato;
  font-size: 70px;
  line-height: 50px;
  color: var(--color-dark-gray);
  opacity: 8%;
  font-style: italic;
}

.aside_number_two::after {
  content: "2";
  position: absolute;
  top: 5px;
  right: 10px;
  height: 100%;
  aspect-ratio: 1;
  font-family: Lato;
  font-size: 70px;
  line-height: 50px;
  color: var(--color-dark-gray);
  opacity: 8%;
  font-style: italic;
}

.aside_number_three::after {
  content: "3";
  position: absolute;
  top: 5px;
  right: 10px;
  height: 100%;
  aspect-ratio: 1;
  font-family: Lato;
  font-size: 70px;
  line-height: 50px;
  color: var(--color-dark-gray);
  opacity: 8%;
  font-style: italic;
}

.aside_number_four::after {
  content: "4";
  position: absolute;
  top: 5px;
  right: 10px;
  height: 100%;
  aspect-ratio: 1;
  font-family: Lato;
  font-size: 70px;
  line-height: 50px;
  color: var(--color-dark-gray);
  opacity: 8%;
  font-style: italic;
}

.aside_number_five::after {
  content: "5";
  position: absolute;
  top: 5px;
  right: 10px;
  height: 100%;
  aspect-ratio: 1;
  font-family: Lato;
  font-size: 70px;
  line-height: 50px;
  color: var(--color-dark-gray);
  opacity: 8%;
  font-style: italic;
}

.aside_number_six::after {
  content: "6";
  position: absolute;
  top: 5px;
  right: 10px;
  height: 100%;
  aspect-ratio: 1;
  font-family: Lato;
  font-size: 70px;
  line-height: 50px;
  color: var(--color-dark-gray);
  opacity: 8%;
  font-style: italic;
}

.aside_number_seven::after {
  content: "7";
  position: absolute;
  top: 5px;
  right: 10px;
  height: 100%;
  aspect-ratio: 1;
  font-family: Lato;
  font-size: 70px;
  line-height: 50px;
  color: var(--color-dark-gray);
  opacity: 8%;
  font-style: italic;
}

.article_aside_link_wrap {
  text-align: center;
  border-top: 1px solid #d9dadb;
  width: 100%;
}

.article_aside_link {
  font-weight: 400;
  padding: 15px;
  color: var(--color-dark-gray);
  width: 100%;
  display: block;
}

.article_aside_link:hover {
  color: #d9dadb;
  background-color: var(--color-dark-gray);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition-duration: 0.5s;
}
