.footer {
  background-color: var(--color-body-bg);
}

.subscribe {
  padding-block: 60px;
  text-align: center;
}

.suscribe_title {
  padding-bottom: 25px;
}

.subscribe {
  font-family: Roboto Slab;
  font-size: clamp(20px, 3.51vw, 40px);
  line-height: 1.2;
  color: var(--color-dark-gray);
  font-weight: 700;
}

.subscribe_form_input {
  border: 1px solid var(--color-border);
  padding: 10px;
  color: var(--color-header-text);
  background-color: var(--color-body-bg);
  min-width: 313px;
  border-radius: 5px;
}

.subscribe_form_button {
  padding-inline: 25px;
  margin-left: 10px;
}
/* Subscribe style end */

/* Navigation style start */
.footer_nav_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-bottom: 60px;
}

.footer_nav_list_box {
  border-top: 5px solid #ff4f52;
}

.foter_nav_list_violet {
  border-top: 5px solid #ac8ee3;
}

.foter_nav_list_blue {
  border-top: 5px solid #4592ff;
}

.foter_nav_list_orange {
  border-top: 5px solid #ffa34d;
}

.foter_nav_list_green {
  border-top: 5px solid #3dc47e;
}

.foter_nav_list_grey {
  border-top: 5px solid #6e99ae;
}

.footer_nav_title {
  color: var(--color-dark-gray);
  font-weight: 400;
  padding-block: 35px 25px;
}

.footer_nav_link {
  color: var(--color-header-subtitle);
  padding-bottom: 15px;
}

.footer_nav_item:last-child > .footer_nav_link {
  padding-bottom: 0;
}
/* Navigation style end */

/* Contact style start */
.footer_contacts_wrapper {
  padding-block: 30px;
  border-top: 1px solid var(--color-border);
  justify-content: space-between;
}

.footer_contacts_logo {
  width: 50px;
  height: 50px;
  background-color: var(--color-button-bg);
  color: var(--color-light);
  border-radius: 50%;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
}

.footer_contacts_item {
  padding-right: 30px;
}

.footer_contacts_link {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-dark-gray);
}

.footer_contacts_socialmedia_box {
  width: 205px;
  justify-content: space-between;
}
/* Contact style end */

.footer_copyrighte_wrapper {
  padding-block: 40px 55px;
  border-top: 1px solid var(--color-border);
  color: var(--color-header-text);
  justify-content: space-between;
}

.footer_copyrighte_text {
  max-width: 750px;
}

.footer_copyrighte {
}
