/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-body-bg: #f5f5f5;
  --color-dark-gray: #262d33;
  --color-border: #d9dadb;
  --color-header-text: #939699;
  --color-header-subtitle: #4b5157;
  --color-button-bg: #4592ff;
  --color-subtitle: #3bbdc4;
  --color-bg-alternative: #6e99ae;
  --color-bg-winner: #b4d1e0;

  /* --color-light-gray: #c4c4c4; */
  /* --color-dark-alternate: #131619; */

  --border-radius: 10px;
  --border: 1px solid var(--color-light);

  --font-family-base: "Lato", sans-serif;
  --font-family-accent: "Roboto Slab", sans-serif;

  --input-height: 54px;

  --container-width: 1140px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 90px;
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.75;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
  -o-transition-duration: var(--transition-duration);
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: var(--color-button-bg);
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
}

.button:hover {
  background-color: #3bbdc4;
}

.flex_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Header style start */
.header_subtitle {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  height: 50px;
}

.header_subtitle_section_icon {
  width: 20px;
  height: 20px;
}

.header_subtitle_section_text {
  padding: 12px 25px 12px 15px;
  font-weight: 400;
  color: var(--color-dark-gray);
  border-right: 1px solid var(--color-border);
}

.header_subtitle_searche {
  margin-left: 25px;
}

.header_subtitle_search_icon {
  width: 20px;
  height: 20px;
}

.header_subtitle_search_text {
  padding-left: 10px;
  color: var(--color-header-text);
}

.header_subtitle_subscribe_img {
  width: 60px;
  height: 41px;
  border: 2px solid #bcbfc2;
  border-bottom: none;
}

.header_subtitle_subscribe_text {
  font-size: 12px;
  line-height: 15px;
  padding-left: 15px;
  color: var(--color-header-text);
}

.header_subtitle_subscribe_text span {
  color: var(--color-dark-gray);
  font-weight: 400;
}

.header_subtitle_signIn {
  padding-left: 50px;
}

.header_subtitle_signIn_text {
  padding-left: 10px;
  color: var(--color-header-subtitle);
}
/* ////////////////////////////////// */
.header_title {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header_title_image_img {
  width: 100px;
  height: 84px;
}

.header_title_image_text {
  color: var(--color-header-subtitle);
}

.header_title_wrap h2 {
  color: var(--color-dark-gray);
  font-size: 31px;
  font-family: "Roboto Slab";
  font-weight: 700;
}

.header_title_data p {
  color: var(--color-header-subtitle);
}

.header_title_weather {
  padding-left: 56px;
}

.header_title_weather_img {
  width: 18px;
  height: 18px;
}

.header_title_weather_text {
  padding-left: 10px;
  color: var(--color-header-subtitle);
}
/* ///////////////////////////// */

.header_menu {
  background-color: var(--color-dark-gray);
}

.header_menu_list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header_menu_item {
  padding-block: 18px;
}

.header_menu_link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-light);
}

.header_menu_link:hover {
  color: var(--color-header-text);
}
/* Header style end */

/* Top-Cards Style start */
.top_cards_wrapper {
  background: var(--color-dark-gray);
  padding-top: 30px;
  padding-bottom: 315px;
}

.top_cards_container {
  background: #30363d;
  border-radius: var(--border-radius);
}

.top_card_text {
  color: var(--color-light);
  font-family: Roboto Slab;
  font-size: 16px;
  line-height: 25px;
  padding: 25px 15px 25px 25px;
  max-width: 195px;
}

.top_card_img {
  padding-right: 25px;
  border-right: 1px solid #4b5157;
}

.top_card_border {
  padding-right: 0;
  border-right: none;
}
/* Top-Cards Style end */
