html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-body-bg: #f5f5f5;
  --color-dark-gray: #262d33;
  --color-border: #d9dadb;
  --color-header-text: #939699;
  --color-header-subtitle: #4b5157;
  --color-button-bg: #4592ff;
  /* --color-light-gray: #c4c4c4; */
  /* --color-dark-alternate: #131619; */

  --border-radius: 10px;
  --border: 1px solid var(--color-light);

  --font-family-base: "Lato", sans-serif;
  --font-family-accent: "Roboto Slab", sans-serif;

  --input-height: 54px;

  --container-width: 1140px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 90px;
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.75;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

.button {
  background-color: var(--color-button-bg);
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
}

.flex_class {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Header style start */
.header_subtitle {
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);
  height: 50px;
}

.header_subtitle_section_icon {
  width: 20px;
  height: 20px;
}

.header_subtitle_section_text {
  padding: 12px 25px 12px 15px;
  font-weight: 400;
  color: var(--color-dark-gray);
  border-right: 1px solid var(--color-border);
}

.header_subtitle_searche {
  margin-left: 25px;
}

.header_subtitle_search_icon {
  width: 20px;
  height: 20px;
}

.header_subtitle_search_text {
  padding-left: 10px;
  color: var(--color-header-text);
}

.header_subtitle_subscribe_img {
  width: 60px;
  height: 41px;
  border: 2px solid #bcbfc2;
  border-bottom: none;
}

.header_subtitle_subscribe_text {
  font-size: 12px;
  line-height: 15px;
  padding-left: 15px;
  color: var(--color-header-text);
}

.header_subtitle_subscribe_text span {
  color: var(--color-dark-gray);
  font-weight: 400;
}

.header_subtitle_signIn {
  padding-left: 50px;
}

.header_subtitle_signIn_text {
  padding-left: 10px;
  color: var(--color-header-subtitle);
}
/* ////////////////////////////////// */
.header_title {
  justify-content: space-between;
}

.header_title_image_img {
  width: 100px;
  height: 84px;
}

.header_title_image_text {
  color: var(--color-header-subtitle);
}

.header_title_wrap h2 {
  color: var(--color-dark-gray);
  font-size: 31px;
  font-family: "Roboto Slab";
  font-weight: 700;
}

.header_title_data p {
  color: var(--color-header-subtitle);
}

.header_title_weather {
  padding-left: 56px;
}

.header_title_weather_img {
  width: 18px;
  height: 18px;
}

.header_title_weather_text {
  padding-left: 10px;
  color: var(--color-header-subtitle);
}
/* ///////////////////////////// */

.header_menu {
  background-color: var(--color-dark-gray);
}

.header_menu_list {
  justify-content: space-between;
}

.header_menu_item {
  padding-block: 18px;
}

.header_menu_link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-light);
}
/* Header style end */

/* Top-Cards Style start */
.top_cards_wrapper {
  background: var(--color-dark-gray);
  padding-top: 30px;
  padding-bottom: 315px;
}

.top_cards_container {
  background: #30363d;
  border-radius: var(--border-radius);
}

.top_card_text {
  color: var(--color-light);
  font-family: Roboto Slab;
  font-size: 16px;
  line-height: 25px;
  padding: 25px 15px 25px 25px;
  max-width: 195px;
}

.top_card_img {
  padding-right: 25px;
  border-right: 1px solid #4b5157;
}

.top_card_border {
  padding-right: 0;
  border-right: none;
}
/* Top-Cards Style end */

/* Section Recomended Style start */
.recomended {
  background-color: var(--color-body-bg);
  margin-block: 0;
}

.recomended_wrapper {
  display: grid;
  grid-template-columns: 877px 263px;
  align-items: stretch;
  padding-bottom: 30px;
}

.recomended_image_wrapper {
  position: relative;
  margin-top: -285px;
}

/* Recomended Inside img start */
.recomended_inside_img_wrap {
  position: absolute;
  top: 50px;
  left: 50px;
}

.recomended_inside_img_wrap {
  flex-direction: column;
  align-items: flex-start;
}

.recomended_avatar_wrap {
  padding-bottom: 145px;
}

.recomended_avatar_title_wrap {
  color: var(--color-light);
  padding-left: 10px;
}

.recomended_avatar_subtitle {
  font-size: 12px;
}

.recomende_inside_title {
  font-size: 12px;
  color: #4592ff;
  padding-bottom: 25px;
}

.recomended_inside_title_big {
  font-family: Roboto Slab;
  font-size: clamp(20px, 3.51vw, 40px);
  line-height: 1.2;
  color: var(--color-light);
  max-width: 600px;
  padding-bottom: 45px;
}
/* Recomended Inside img end */

.recomended_news_wrapper {
  background-color: var(--color-light);
  height: 570px;
  margin-top: -285px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.recomended_img {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.recomended_news {
  border-top: 1px solid var(--color-border);
}

.recomended_news_title {
  color: var(--color-dark-gray);
  text-transform: uppercase;
  padding: 20px 25px;
}

.recomended_news_subtitle {
  font-size: 12px;
  line-height: 15px;
  color: #3bbdc4;
  padding: 15px 0 8px 25px;
  text-transform: uppercase;
}

.recomended_news_text {
  line-height: 1.6;
  padding-left: 25px;
  padding-bottom: 15px;
  max-width: 213px;
  color: var(--color-header-subtitle);
}
/* Section Recomended Style end */

/* Media style start */
@media (max-width: 1170px) {
  .top_cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .top_card_border {
    padding-right: 25px;
    border-right: 1px solid #4b5157;
  }
}

@media (max-width: 900px) {
  .header_menu_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding-block: 10px;
  }

  .header_menu_item {
    padding-block: 0;
  }
}

@media (max-width: 767px) {
  .header_title_weather {
    padding-left: 20px;
  }

  .header_subtitle_signIn {
    padding-left: 20px;
  }

  .header_title_image_text {
    max-width: 5em;
  }

  .header_menu_list {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .top_cards_container {
    grid-template-columns: 1fr;
  }

  .top_cards_container {
    margin-inline: auto;
    width: 85%;
  }
}

@media (max-width: 600px) {
  .header_subtitle_wrapper {
    display: flex;
  }

  .header_title_wrap {
    order: 1;
    flex-grow: 1;
    justify-items: center;
  }
}

@media (max-width: 500px) {
  .header_menu_list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header_subtitle {
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    height: 100px;
  }

  .header_title_data {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .header_title {
    flex-direction: column;
  }
}
/* Media style end */
