/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.travel_header_title_wrapper {
  background: url(../img/Travel/travel-header-bg-min.png) no-repeat center /
    cover;
  min-height: 590px;
  color: var(--color-light);
}

.travel_header_title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.travel_header_subtitle_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-block: 63px 52px;
}

.travel_header_subtitle {
  font-family: Lato;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-button-bg);
}

.travel_subtitle_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.travel_subtitle_text {
  font-weight: 400;
  padding-left: 5px;
  color: var(--color-light);
}

.travel_subtitle_img img {
  padding-top: 2px;
}

.travel_header_title {
  font-family: Roboto Slab;
  font-size: clamp(28px, 5.81vw, 55px);
  line-height: 1.3;
  max-width: 750px;
  font-weight: 700;
  padding-bottom: 30px;
}

.travel_header_text {
  font-size: clamp(14px, 1.91vw, 18px);
  line-height: 1.7;
  max-width: 550px;
  font-weight: 400;
  padding-bottom: 60px;
}

.travel_header_data_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.travel_header_data_box_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.travel_header_data_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 20px;
}

.travel_header_data_box p {
  padding-left: 5px;
  font-size: 1.25;
}

.travel_header_button {
  background-color: inherit;
  border: 1px solid var(--color-light);
  opacity: 40%;
  padding-inline: 25px 25px;
  font-weight: 400;
}

.travel_header_button::before {
  content: url("../img/Travel/icon/Share.svg");
  display: inline-block;
  left: 0;
  padding-right: 15px;
}

.travel_header_button:hover {
  background-color: var(--color-dark);
}

.travel_header_data_box img {
  opacity: 40%;
}
