/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.article_wrapper {
  padding-block: 60px;
  position: relative;
}

.container_article_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 623px 60px 263px;
  grid-template-columns: 623px 263px;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
}

.travel_article_text {
  margin-right: 31px;
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-header-subtitle);
  padding-bottom: 30px;
}

.travel_article_text_first::first-letter {
  font-family: Lato;
  font-size: 100px;
  line-height: 75px;
  font-weight: bold;
  color: var(--color-button-bg);
  float: left;
  padding-top: 8px;
  padding-right: 10px;
}

.travel_article_text_first {
  padding-bottom: 60px;
}

.travel_article_title {
  padding-bottom: 30px;
  font-family: Roboto Slab;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-dark-gray);
  font-weight: 700;
}

.travel_aside_card {
  width: 263px;
  height: 370px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  background-color: var(--color-light);
  margin-top: -160px;
}

.travel_aside_image {
  padding-block: 35px 10px;
}

.travel_aside_title {
  font-family: Roboto Slab;
  font-size: 20px;
  line-height: 25px;
  color: var(--color-dark-gray);
  font-weight: 500;
}

.travel_aside_subtitle {
  color: var(--color-header-subtitle);
  padding-bottom: 10px;
}

.travel_aside_text {
  font-weight: 700;
  color: var(--color-dark-gray);
  padding-bottom: 20px;
}

.travel_aside_card_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}

.travel_aside_sochial_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 140px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 30px;
}

.travel_aside_social_link {
  border: 1px solid #bcbfc2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.travel_aside_link_box {
  width: 100%;
}

.travel_aside_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-block: 14px;
  color: var(--color-dark-gray);
  font-weight: 600;
}

.travel_aside_link:hover {
  background-color: var(--color-dark-gray);
  color: var(--color-light);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.travel_article_geography_wrapper {
  width: 623px;
}

/* Slider Style start */
.travel_article_slider_wrapper {
  text-align: center;
  padding-bottom: 60px;
  border-radius: var(--border-radius);
}

.travel_article_slider {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory; /* Включить прокрутку с фиксацией */
  scroll-behavior: smooth; /* Гладкая прокрутка */
  gap: 10px; /* Отступы между слайдами */
  width: 1140px;
}

.travel_article_slide {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; /* Каждый слайд занимает 100% ширины контейнера */
  height: 555px; /* Высота слайда */
  background: #4caf50;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2em;
  scroll-snap-align: center; /* Слайды фиксируются по центру */
}

.travel_article_slide_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* border-inline: 1px solid var(--color-border); */
  border: 1px solid var(--color-border);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.travel_article_slide_autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-inline: 30px;
  padding-block: 12px;
  border-left: 1px solid var(--color-border);
}

.travel_article_slide_desc {
  padding-left: 35px;
  color: var(--color-header-subtitle);
  font-weight: 400;
}

.travel_article_slide_images {
  width: 45px;
  height: 45px;
}

.travel_article_slide_autor_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding-left: 10px;
}

.travel_article_slide_autor_name {
  color: var(--color-header-subtitle);
  font-weight: 400;
}

.travel_article_slide_autor_profession {
  font-size: 12px;
  line-height: 15px;
  color: var(--color-header-text);
}

/* Slider Style end */

/* Material Style start */
.travel_aside_material {
  width: 263px;
  padding-top: 100px;
}

.article_wrapper_less {
  padding-top: 0;
}

.travel_as_title_padding {
  padding-bottom: 20px;
}

.travel_second_article_image {
  width: 263px;
  height: 180px;
}

.travel_aside_title_second {
  padding-top: 15px;
  font-family: Roboto Slab;
  font-size: 16px;
  line-height: 25px;
  color: var(--color-dark-gray);
  font-weight: 600;
}

.travel_aside_comments_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.travel_aside_reaction_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 10px;
}

.travel_aside_reaction_box p {
  padding-left: 5px;
}
/* Material Style end */

/* QUOTE Style start */
.container_article_quote {
  padding-bottom: 45px;
}

.travel_article_text_quote {
  position: relative;
  width: 455px;
  font-family: Roboto Slab;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-dark-gray);
  font-weight: 600;
  z-index: 1;
}

.travel_article_text_quote::before {
  position: absolute;
  content: url("../img/Travel/icon/Quote.svg");
  display: inline-block;
  top: -20px;
  left: -20px;
  z-index: -1;
}

.article_flex_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.travel_article_quote_autor {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-header-subtitle);
  font-weight: 400;
}
/* QUOTE Style end */

.article_navigation_wrap {
  width: 623px;
}

.article_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--color-border);
}

.article_nav_link {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 5px 15px;
  color: var(--color-dark-gray);
  font-weight: 400;
}

.article_nav_link:hover {
  background-color: var(--color-dark-gray);
  border: 1px solid var(--color-dark-gray);
  color: var(--color-light);
}

.article_nav_item {
  padding-top: 10px;
  padding-right: 10px;
}
