@media (max-width: 1140px) {
  .travel_article_slider {
    width: 100%;
  }

  .travel_article_slide {
    height: auto;
  }

  .travel_footer_cards_wrapper {
    gap: 15px;
  }
}

@media (max-width: 1024px) {
  .container_article_wrap {
    grid-template-columns: 1fr 263px;
    gap: 20px;
  }

  .travel_article_geography_wrapper {
    width: 100%;
  }

  .travel_article_slide_desc {
    padding-left: 15px;
    max-width: 60%;
  }
}

@media (max-width: 767px) {
  .travel_header_subtitle_wrap {
    padding-block: 30px 26px;
  }

  .container_article_wrap {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }

  .travel_aside_card {
    order: 1;
  }

  .article {
    order: 2;
  }

  .travel_article_text:first-child {
    padding-bottom: 30px;
  }

  .travel_article_slide_autor {
    padding-inline: 15px;
  }

  .travel_article_slide_desc {
    padding-left: 5px;
    max-width: 50%;
  }

  .travel_aside_material {
    padding-top: 0;
  }

  .article_navigation_wrap {
    width: 100%;
  }

  .travel_footer_cards_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 263px);
    justify-content: center;
    gap: 30px;
  }

  .travel_comment_image {
    padding-left: 15px;
  }

  .comment_answer {
    padding-left: 60px;
  }

  .travel_comment_form_wrap {
    flex-direction: column;
  }

  .travel_comment_form_image {
    padding-top: 0;
  }

  .travel_comment-form {
    padding-left: 0;
  }

  .travel_comment_textarea {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .travel_footer_cards_wrapper {
    display: grid;
    grid-template-columns: 263px;
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 500px) {
  .travel_header_data_wrap {
    flex-direction: column;
  }

  .travel_header_data_box_wrap {
    padding-bottom: 30px;
  }

  .travel_header_text {
    padding-bottom: 45px;
  }

  .travel_article_text {
    margin-right: 0;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 15px;
  }

  .travel_article_slider_wrapper {
    padding-bottom: 20px;
  }

  .travel_article_slide_autor {
    flex-direction: column;
    align-items: center;
    padding-inline: 5px;
    padding-block: 12px;
  }

  .article_wrapper {
    padding-block: 0 20px;
  }

  .travel_article_text_quote {
    width: 100%;
  }

  .container_article_quote {
    padding-bottom: 20px;
  }

  .article_nav_list {
    padding-bottom: 30px;
  }

  .travel_social_buttons {
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
  }

  .travel_social_box {
    padding-bottom: 45px;
  }

  .travel_comments_title_box {
    padding-bottom: 10px;
  }

  .travel_comment_form_wrap {
    padding: 20px;
  }

  .travel_aside_card {
    margin-top: -110px;
  }

  .travel_footer_cards {
    padding-block: 40px;
  }

  .travel_comments_title_wrap {
    padding-block: 40px 20px;
  }
}
