/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Comments style start */
.travel_comments_title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 53.57em;
  padding-top: 90px;
}

.travel_comments_title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 30px;
}

.travel_comments_title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.comment_answer {
  padding-left: 90px;
}

.travel_comments_title {
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: var(--color-dark-gray);
  padding-right: 10px;
}

.travel_comments_title_number {
  font-family: Lato;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  color: var(--color-header-text);
}

.travel_comments_Add_link {
  padding: 10px 25px;
  color: var(--color-dark-gray);
  font-weight: 400;
  background-color: inherit;
  border: 1px solid var(--color-border);
}

.travel_comments_Add_link:hover {
  color: var(--color-light);
  background-color: var(--color-dark-gray);
  border: 1px solid var(--color-dark-gray);
}

.travel_comments_Add_link::before {
  content: url("../img/Travel/icon/Pencil.svg");
  display: inline-block;
  padding-right: 15px;
}

/* Comment style start */
.travel_comments_wrapp {
  max-width: 53.57em;
}

.travel_comment_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-border);
  padding-top: 20px;
}

.travel_comment_image {
  width: 75px;
  aspect-ratio: 1;
}

.travel_comment_desc_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 15px;
}

.travel_comment_title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.travel_comment_title {
  font-family: Roboto Slab;
  font-size: 16px;
  line-height: 25px;
  color: var(--color-dark-gray);
  padding-right: 10px;
  font-weight: 600;
}

.travel_comment_title_data {
  font-family: Lato;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-header-text);
}

.travel_comment_text {
  max-width: 40.71em;
  font-family: Lato;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-header-subtitle);
  padding-bottom: 5px;
  font-weight: 400;
}
/* Comment style end */
.travel_comment_reaction_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.travel_comment_reaction_reply {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-dark-gray);
  font-weight: 400;
  padding-inline: 20px 35px;
}

.travel_comment_reaction_reply::before {
  content: url("../img/Travel/icon/Comment-grey.svg");
  display: inline-block;
  padding-right: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%; /* Центрирование по вертикали */
  left: 50%; /* Центрирование по горизонтали */
  -webkit-transform: translate(-50%, -32%);
  -ms-transform: translate(-50%, -32%);
  transform: translate(-50%, -32%);
}

.travel_comment_reaction_num {
  position: relative;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-header-text);
  text-align: center;
  padding-inline: 10px;
}

.comment_reaction_green {
  color: #3dc47e;
}

.travel_comment_reaction_num::before {
  content: url("../img/Travel/icon/Thumb-up.svg");
  display: inline-block;
  padding-right: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%; /* Центрирование по вертикали */
  left: 0; /* Центрирование по горизонтали */
  -webkit-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
}

.travel_comment_reaction_num::after {
  content: url("../img/Travel/icon/Thumb-down.svg");
  display: inline-block;
  padding-left: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%; /* Центрирование по вертикали */
  left: 100%; /* Центрирование по горизонтали */
  -webkit-transform: translate(-40%, -40%);
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
}

.travel_comment_button_wrap {
  padding-block: 30px 60px;
}

.travel_comment_button {
  position: relative;
  display: block;
  width: 100%;
  background-color: inherit;
  font-weight: 400;
  color: var(--color-dark-gray);
  padding-left: 45%;
  border: 1px solid var(--color-border);
}

.travel_comment_button:hover {
  color: var(--color-light);
  border: 1px solid var(--color-dark-gray);
  background-color: var(--color-dark-gray);
}

.travel_comment_button::before {
  content: url("../img/Travel/icon/Loading.svg");
  display: inline-block;
  padding-right: 10px;
  position: absolute;
  width: 10%;
  height: 100%;
  top: 50%;
  right: inherit;
  -webkit-transform: translate(-50%, -23%);
  -ms-transform: translate(-50%, -23%);
  transform: translate(-50%, -23%);
}
/* Comment style end */
/* Comment Form style start */
.travel_comment_form_wrapper {
  padding-bottom: 30px;
}

.travel_comment_form_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: var(--color-body-bg);
  padding: 30px;
  border-radius: var(--border-radius);
}

.travel_comment_form_image {
  padding-top: 40px;
}

.travel_comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
}

.travel_comment_form_title {
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: var(--color-dark-gray);
  padding-bottom: 15px;
}

.travel_comment_textarea {
  width: 42.5em;
  height: 130px;
  margin-bottom: 15px;
}

.travel_comment_form_button {
  position: relative;
  width: 120px;
  padding-right: 30px;
}

.travel_comment_form_button::after {
  content: url("../img/Icon/arrow-right.svg");
  display: inline-block;
  padding-left: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 72%;
  left: 72%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* Comment Form style end */
/* Comments Style end */
