/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.winners {
  background-color: var(--color-dark-gray);
  padding-block: 60px;
}

.winner_cards_wrapper {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  grid-template-areas:
    "winner winner careers careers"
    "winner winner careers careers"
    "winner winner box-1 box-2";
}

.winner {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: winner;
  width: 555px;
  height: 570px;
  background: url(../img/winner-bg-1.png) no-repeat center / cover;
  border-radius: var(--border-radius);
}

.careers {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: careers;
  max-width: 555px;
  height: 370px;
  border-radius: var(--border-radius);
  background-color: var(--color-bg-winner);
}

.box-1 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: box-1;
  border-radius: var(--border-radius);
}

.box-2 {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  grid-area: box-2;
  border-radius: var(--border-radius);
}

.box-width {
  height: 170px;
}

.winner_subtitle {
  display: inline-block;
  margin: 35px;
  padding: 5px 12px;
  background-color: #ff4f52;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-light);
  border-radius: 3px;
}

.winners_description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  color: var(--color-light);
}

.winner_reporter_name {
  font-weight: 400;
  padding-top: 10px;
  line-height: 20px;
}

.winner_reporter_desc {
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 50px;
}

.winners_title {
  font-family: Roboto Slab;
  font-size: clamp(20px, 3.51vw, 40px);
  line-height: 1.2;
  padding-bottom: 70px;
}

.winners_link {
  padding-inline: 50px;
  font-weight: 400;
}

.winners_link_box {
  position: relative;
}

.winners_link::before {
  content: "";
  position: absolute;
  left: 15px;
  height: 100%;
  aspect-ratio: 1;
  background: url(../img/Icon/winner-galery-icon.svg) center / 70% no-repeat;
}

.winners_link::after {
  content: "21";
  position: absolute;
  right: 15px;
  height: 100%;
  aspect-ratio: 1;
}

.careers_description {
  padding-left: 35px;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.careers_subtitle {
  text-transform: uppercase;
  color: var(--color-bg-alternative);
  font-family: Lato;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  padding-block: 35px 20px;
}

.careers_title {
  font-weight: 700;
  font-family: Roboto Slab;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-dark-gray);
  padding-bottom: 15px;
}

.careers_text {
  color: var(--color-header-subtitle);
  max-width: 213px;
  padding-bottom: 25px;
}

.careers_link_box {
  position: relative;
}

.careers_link {
  font-weight: 400;
  padding-inline: 25px 45px;
}

.careers_link::after {
  content: "";
  position: absolute;
  right: 10px;
  height: 100%;
  aspect-ratio: 1;
  background: url(../img/Icon/arrow-right.svg) center / 70% no-repeat;
}

.careers_images {
  width: 50%;
  position: relative;
}

.careers_img {
  position: relative;
  z-index: 2;
}

.careers_circle {
  display: block;
  position: absolute;
  top: 47px;
  left: 0;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  color: #d1e2eb;
  background-color: #d1e2eb;
  z-index: 1;
}
